.dados-enviados {
  display: flex;
  flex-direction: column;
}
.dados-enviados .infos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dados-enviados.oculto {
  display: none;
}

#formulario {
  display: grid;
  gap: 1rem;
}

#formulario .campo {
  display: flex;
  flex-direction: column;
}
